[Desktop Entry]
Comment=
Terminal=false
Name=me
Exec=firefox -p personal -private-window -no-remote
Type=Application
Icon=/home/d/.local/share/applications/apps/me.ico
